images/artifacts/tinymiracle_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/archaicpetra_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/bloodstainedchivalry_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/defenderswill_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/prayersforwisdom_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/oceanhuedclam_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/viridescentvenerer_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/archaicpetra_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/braveheart_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/instructor_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/oceanhuedclam_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/thunderingfury_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/thundersoother_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/wandererstroupe_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/gladiatorsfinale_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/gladiatorsfinale_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/huskofopulentdreams_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/scholar_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/theexile_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/bloodstainedchivalry_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/huskofopulentdreams_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/shimenawasreminiscence_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/tenacityofthemillelith_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/wandererstroupe_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/blizzardstrayer_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/instructor_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/maidenbeloved_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/martialartist_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/lavawalker_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/shimenawasreminiscence_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/archaicpetra_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/berserker_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/crimsonwitchofflames_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/gambler_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/defenderswill_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/maidenbeloved_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/thundersoother_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/wandererstroupe_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/prayerstospringtime_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/scholar_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/blizzardstrayer_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/gladiatorsfinale_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/oceanhuedclam_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/paleflame_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/shimenawasreminiscence_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/berserker_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/crimsonwitchofflames_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/martialartist_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/noblesseoblige_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/theexile_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/thundersoother_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/wandererstroupe_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/bloodstainedchivalry_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/defenderswill_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/heartofdepth_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/retracingbolide_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/tenacityofthemillelith_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/thunderingfury_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/viridescentvenerer_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/emblemofseveredfate_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/lavawalker_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/retracingbolide_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/tenacityofthemillelith_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/instructor_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/tenacityofthemillelith_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/wandererstroupe_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/maidenbeloved_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/thundersoother_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/berserker_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/emblemofseveredfate_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/emblemofseveredfate_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/heartofdepth_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/gambler_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/martialartist_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/paleflame_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/scholar_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/archaicpetra_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/berserker_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/blizzardstrayer_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/gambler_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/shimenawasreminiscence_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/tinymiracle_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/crimsonwitchofflames_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/oceanhuedclam_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/paleflame_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/resolutionofsojourner_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/defenderswill_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/heartofdepth_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/theexile_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/heartofdepth_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/instructor_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/scholar_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/tinymiracle_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/gladiatorsfinale_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/huskofopulentdreams_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/maidenbeloved_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/noblesseoblige_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/retracingbolide_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/crimsonwitchofflames_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/defenderswill_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/heartofdepth_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/huskofopulentdreams_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/scholar_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/thunderingfury_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/thunderingfury_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/blizzardstrayer_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/instructor_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/noblesseoblige_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/braveheart_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/emblemofseveredfate_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/lavawalker_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/theexile_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/gambler_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/paleflame_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/resolutionofsojourner_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/tinymiracle_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/bloodstainedchivalry_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/braveheart_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/paleflame_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/tenacityofthemillelith_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/emblemofseveredfate_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/gladiatorsfinale_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/retracingbolide_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/bloodstainedchivalry_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/braveheart_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/braveheart_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/crimsonwitchofflames_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/resolutionofsojourner_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/viridescentvenerer_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/archaicpetra_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/blizzardstrayer_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/gambler_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/lavawalker_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/noblesseoblige_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/resolutionofsojourner_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/shimenawasreminiscence_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/martialartist_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/theexile_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/berserker_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/huskofopulentdreams_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/prayersforillumination_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/viridescentvenerer_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/lavawalker_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/retracingbolide_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/thunderingfury_goblet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/thundersoother_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/prayersfordestiny_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/resolutionofsojourner_sands.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/tinymiracle_plume.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/viridescentvenerer_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/maidenbeloved_flower.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/martialartist_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/noblesseoblige_circlet.png filter=lfs diff=lfs merge=lfs -text
images/artifacts/oceanhuedclam_flower.png filter=lfs diff=lfs merge=lfs -text
images/avatar/tartaglia.png filter=lfs diff=lfs merge=lfs -text
images/avatar/yanfei.png filter=lfs diff=lfs merge=lfs -text
images/avatar/ayaka.png filter=lfs diff=lfs merge=lfs -text
images/avatar/jean.png filter=lfs diff=lfs merge=lfs -text
images/avatar/sucrose.png filter=lfs diff=lfs merge=lfs -text
images/avatar/lumine.png filter=lfs diff=lfs merge=lfs -text
images/avatar/qiqi.png filter=lfs diff=lfs merge=lfs -text
images/avatar/sayu.png filter=lfs diff=lfs merge=lfs -text
images/avatar/shenhe.png filter=lfs diff=lfs merge=lfs -text
images/avatar/xiao.png filter=lfs diff=lfs merge=lfs -text
images/avatar/aloy.png filter=lfs diff=lfs merge=lfs -text
images/avatar/chongyun.png filter=lfs diff=lfs merge=lfs -text
images/avatar/kazuha.png filter=lfs diff=lfs merge=lfs -text
images/avatar/zhongli.png filter=lfs diff=lfs merge=lfs -text
images/avatar/gorou.png filter=lfs diff=lfs merge=lfs -text
images/avatar/itto.png filter=lfs diff=lfs merge=lfs -text
images/avatar/razor.png filter=lfs diff=lfs merge=lfs -text
images/avatar/rosaria.png filter=lfs diff=lfs merge=lfs -text
images/avatar/venti.png filter=lfs diff=lfs merge=lfs -text
images/avatar/albedo.png filter=lfs diff=lfs merge=lfs -text
images/avatar/fischl.png filter=lfs diff=lfs merge=lfs -text
images/avatar/ganyu.png filter=lfs diff=lfs merge=lfs -text
images/avatar/xingqiu.png filter=lfs diff=lfs merge=lfs -text
images/avatar/yunjin.png filter=lfs diff=lfs merge=lfs -text
images/avatar/amber.png filter=lfs diff=lfs merge=lfs -text
images/avatar/diona.png filter=lfs diff=lfs merge=lfs -text
images/avatar/klee.png filter=lfs diff=lfs merge=lfs -text
images/avatar/yoimiya.png filter=lfs diff=lfs merge=lfs -text
images/avatar/aether.png filter=lfs diff=lfs merge=lfs -text
images/avatar/lisa.png filter=lfs diff=lfs merge=lfs -text
images/avatar/ningguang.png filter=lfs diff=lfs merge=lfs -text
images/avatar/yaemiko.png filter=lfs diff=lfs merge=lfs -text
images/avatar/barbara.png filter=lfs diff=lfs merge=lfs -text
images/avatar/eula.png filter=lfs diff=lfs merge=lfs -text
images/avatar/keqing.png filter=lfs diff=lfs merge=lfs -text
images/avatar/mona.png filter=lfs diff=lfs merge=lfs -text
images/avatar/noelle.png filter=lfs diff=lfs merge=lfs -text
images/avatar/sara.png filter=lfs diff=lfs merge=lfs -text
images/avatar/xinyan.png filter=lfs diff=lfs merge=lfs -text
images/avatar/beidou.png filter=lfs diff=lfs merge=lfs -text
images/avatar/bennett.png filter=lfs diff=lfs merge=lfs -text
images/avatar/kaeya.png filter=lfs diff=lfs merge=lfs -text
images/avatar/raiden.png filter=lfs diff=lfs merge=lfs -text
images/avatar/thoma.png filter=lfs diff=lfs merge=lfs -text
images/avatar/xiangling.png filter=lfs diff=lfs merge=lfs -text
images/avatar/diluc.png filter=lfs diff=lfs merge=lfs -text
images/avatar/hutao.png filter=lfs diff=lfs merge=lfs -text
images/avatar/kokomi.png filter=lfs diff=lfs merge=lfs -text
images/weapons/darkironsword.png filter=lfs diff=lfs merge=lfs -text
images/weapons/ferrousshadow.png filter=lfs diff=lfs merge=lfs -text
images/weapons/theunforged.png filter=lfs diff=lfs merge=lfs -text
images/weapons/beginnersprotector.png filter=lfs diff=lfs merge=lfs -text
images/weapons/emeraldorb.png filter=lfs diff=lfs merge=lfs -text
images/weapons/halberd.png filter=lfs diff=lfs merge=lfs -text
images/weapons/swordofdescension.png filter=lfs diff=lfs merge=lfs -text
images/weapons/wineandsong.png filter=lfs diff=lfs merge=lfs -text
images/weapons/bloodtaintedgreatsword.png filter=lfs diff=lfs merge=lfs -text
images/weapons/polarstar.png filter=lfs diff=lfs merge=lfs -text
images/weapons/travelershandysword.png filter=lfs diff=lfs merge=lfs -text
images/weapons/wastergreatsword.png filter=lfs diff=lfs merge=lfs -text
images/weapons/lithicblade.png filter=lfs diff=lfs merge=lfs -text
images/weapons/mistsplitterreforged.png filter=lfs diff=lfs merge=lfs -text
images/weapons/royalbow.png filter=lfs diff=lfs merge=lfs -text
images/weapons/thrillingtalesofdragonslayers.png filter=lfs diff=lfs merge=lfs -text
images/weapons/predator.png filter=lfs diff=lfs merge=lfs -text
images/weapons/serpentspine.png filter=lfs diff=lfs merge=lfs -text
images/weapons/skywardatlas.png filter=lfs diff=lfs merge=lfs -text
images/weapons/compoundbow.png filter=lfs diff=lfs merge=lfs -text
images/weapons/dragonsbane.png filter=lfs diff=lfs merge=lfs -text
images/weapons/lostprayertothesacredwinds.png filter=lfs diff=lfs merge=lfs -text
images/weapons/oathsworneye.png filter=lfs diff=lfs merge=lfs -text
images/weapons/amberbead.png filter=lfs diff=lfs merge=lfs -text
images/weapons/engulfinglightning.png filter=lfs diff=lfs merge=lfs -text
images/weapons/favoniuswarbow.png filter=lfs diff=lfs merge=lfs -text
images/weapons/oldmercspal.png filter=lfs diff=lfs merge=lfs -text
images/weapons/primordialjadecutter.png filter=lfs diff=lfs merge=lfs -text
images/weapons/prototypearchaic.png filter=lfs diff=lfs merge=lfs -text
images/weapons/prototypecrescent.png filter=lfs diff=lfs merge=lfs -text
images/weapons/whiteirongreatsword.png filter=lfs diff=lfs merge=lfs -text
images/weapons/akuoumaru.png filter=lfs diff=lfs merge=lfs -text
images/weapons/hamayumi.png filter=lfs diff=lfs merge=lfs -text
images/weapons/magicguide.png filter=lfs diff=lfs merge=lfs -text
images/weapons/windblumeode.png filter=lfs diff=lfs merge=lfs -text
images/weapons/dullblade.png filter=lfs diff=lfs merge=lfs -text
images/weapons/favoniuscodex.png filter=lfs diff=lfs merge=lfs -text
images/weapons/luxurioussealord.png filter=lfs diff=lfs merge=lfs -text
images/weapons/memoryofdust.png filter=lfs diff=lfs merge=lfs -text
images/weapons/recurvebow.png filter=lfs diff=lfs merge=lfs -text
images/weapons/whiteblind.png filter=lfs diff=lfs merge=lfs -text
images/weapons/favoniuslance.png filter=lfs diff=lfs merge=lfs -text
images/weapons/ironsting.png filter=lfs diff=lfs merge=lfs -text
images/weapons/kagurasverity.png filter=lfs diff=lfs merge=lfs -text
images/weapons/katsuragikirinagamasa.png filter=lfs diff=lfs merge=lfs -text
images/weapons/rust.png filter=lfs diff=lfs merge=lfs -text
images/weapons/summitshaper.png filter=lfs diff=lfs merge=lfs -text
images/weapons/theviridescenthunt.png filter=lfs diff=lfs merge=lfs -text
images/weapons/calamityqueller.png filter=lfs diff=lfs merge=lfs -text
images/weapons/cinnabarspindle.png filter=lfs diff=lfs merge=lfs -text
images/weapons/thewidsith.png filter=lfs diff=lfs merge=lfs -text
images/weapons/blackcliffpole.png filter=lfs diff=lfs merge=lfs -text
images/weapons/elegyfortheend.png filter=lfs diff=lfs merge=lfs -text
images/weapons/messenger.png filter=lfs diff=lfs merge=lfs -text
images/weapons/prototyperancour.png filter=lfs diff=lfs merge=lfs -text
images/weapons/blackclifflongsword.png filter=lfs diff=lfs merge=lfs -text
images/weapons/mappamare.png filter=lfs diff=lfs merge=lfs -text
images/weapons/amenomakageuchi.png filter=lfs diff=lfs merge=lfs -text
images/weapons/blacktassel.png filter=lfs diff=lfs merge=lfs -text
images/weapons/filletblade.png filter=lfs diff=lfs merge=lfs -text
images/weapons/huntersbow.png filter=lfs diff=lfs merge=lfs -text
images/weapons/primordialjadewingedspear.png filter=lfs diff=lfs merge=lfs -text
images/weapons/seasonedhuntersbow.png filter=lfs diff=lfs merge=lfs -text
images/weapons/sharpshootersoath.png filter=lfs diff=lfs merge=lfs -text
images/weapons/wavebreakersfin.png filter=lfs diff=lfs merge=lfs -text
images/weapons/freedomsworn.png filter=lfs diff=lfs merge=lfs -text
images/weapons/wolfsgravestone.png filter=lfs diff=lfs merge=lfs -text
images/weapons/favoniussword.png filter=lfs diff=lfs merge=lfs -text
images/weapons/lionsroar.png filter=lfs diff=lfs merge=lfs -text
images/weapons/pocketgrimoire.png filter=lfs diff=lfs merge=lfs -text
images/weapons/sacrificialbow.png filter=lfs diff=lfs merge=lfs -text
images/weapons/solarpearl.png filter=lfs diff=lfs merge=lfs -text
images/weapons/vortexvanquisher.png filter=lfs diff=lfs merge=lfs -text
images/weapons/skywardharp.png filter=lfs diff=lfs merge=lfs -text
images/weapons/whitetassel.png filter=lfs diff=lfs merge=lfs -text
images/weapons/favoniusgreatsword.png filter=lfs diff=lfs merge=lfs -text
images/weapons/kitaincrossspear.png filter=lfs diff=lfs merge=lfs -text
images/weapons/prototypestarglitter.png filter=lfs diff=lfs merge=lfs -text
images/weapons/staffofhoma.png filter=lfs diff=lfs merge=lfs -text
images/weapons/thealleyflash.png filter=lfs diff=lfs merge=lfs -text
images/weapons/otherworldlystory.png filter=lfs diff=lfs merge=lfs -text
images/weapons/prototypeamber.png filter=lfs diff=lfs merge=lfs -text
images/weapons/quartz.png filter=lfs diff=lfs merge=lfs -text
images/weapons/rainslasher.png filter=lfs diff=lfs merge=lfs -text
images/weapons/skyridersword.png filter=lfs diff=lfs merge=lfs -text
images/weapons/dragonspinespear.png filter=lfs diff=lfs merge=lfs -text
images/weapons/eyeofperception.png filter=lfs diff=lfs merge=lfs -text
images/weapons/festeringdesire.png filter=lfs diff=lfs merge=lfs -text
images/weapons/frostbearer.png filter=lfs diff=lfs merge=lfs -text
images/weapons/lithicspear.png filter=lfs diff=lfs merge=lfs -text
images/weapons/snowtombedstarsilver.png filter=lfs diff=lfs merge=lfs -text
images/weapons/theflagstaff.png filter=lfs diff=lfs merge=lfs -text
images/weapons/thunderingpulse.png filter=lfs diff=lfs merge=lfs -text
images/weapons/apprenticesnotes.png filter=lfs diff=lfs merge=lfs -text
images/weapons/blackcliffwarbow.png filter=lfs diff=lfs merge=lfs -text
images/weapons/coolsteel.png filter=lfs diff=lfs merge=lfs -text
images/weapons/dodocotales.png filter=lfs diff=lfs merge=lfs -text
images/weapons/mouunsmoon.png filter=lfs diff=lfs merge=lfs -text
images/weapons/redhornstonethresher.png filter=lfs diff=lfs merge=lfs -text
images/weapons/skyridergreatsword.png filter=lfs diff=lfs merge=lfs -text
images/weapons/thecatch.png filter=lfs diff=lfs merge=lfs -text
images/weapons/theflute.png filter=lfs diff=lfs merge=lfs -text
images/weapons/aquilafavonia.png filter=lfs diff=lfs merge=lfs -text
images/weapons/mitternachtswaltz.png filter=lfs diff=lfs merge=lfs -text
images/weapons/slingshot.png filter=lfs diff=lfs merge=lfs -text
images/weapons/debateclub.png filter=lfs diff=lfs merge=lfs -text
images/weapons/hakushinring.png filter=lfs diff=lfs merge=lfs -text
images/weapons/sacrificialgreatsword.png filter=lfs diff=lfs merge=lfs -text
images/weapons/harbingerofdawn.png filter=lfs diff=lfs merge=lfs -text
images/weapons/skywardspine.png filter=lfs diff=lfs merge=lfs -text
images/weapons/songofbrokenpines.png filter=lfs diff=lfs merge=lfs -text
images/weapons/thebell.png filter=lfs diff=lfs merge=lfs -text
images/weapons/deathmatch.png filter=lfs diff=lfs merge=lfs -text
images/weapons/ironpoint.png filter=lfs diff=lfs merge=lfs -text
images/weapons/royalgrimoire.png filter=lfs diff=lfs merge=lfs -text
images/weapons/royalspear.png filter=lfs diff=lfs merge=lfs -text
images/weapons/silversword.png filter=lfs diff=lfs merge=lfs -text
images/weapons/blackcliffslasher.png filter=lfs diff=lfs merge=lfs -text
images/weapons/ebonybow.png filter=lfs diff=lfs merge=lfs -text
images/weapons/royallongsword.png filter=lfs diff=lfs merge=lfs -text
images/weapons/skywardblade.png filter=lfs diff=lfs merge=lfs -text
images/weapons/everlastingmoonglow.png filter=lfs diff=lfs merge=lfs -text
images/weapons/ravenbow.png filter=lfs diff=lfs merge=lfs -text
images/weapons/royalgreatsword.png filter=lfs diff=lfs merge=lfs -text
images/weapons/thestringless.png filter=lfs diff=lfs merge=lfs -text
images/weapons/twinnephrite.png filter=lfs diff=lfs merge=lfs -text
images/weapons/amosbow.png filter=lfs diff=lfs merge=lfs -text
images/weapons/crescentpike.png filter=lfs diff=lfs merge=lfs -text
images/weapons/theblacksword.png filter=lfs diff=lfs merge=lfs -text
images/weapons/alleyhunter.png filter=lfs diff=lfs merge=lfs -text
images/weapons/blackcliffagate.png filter=lfs diff=lfs merge=lfs -text
images/weapons/sacrificialfragments.png filter=lfs diff=lfs merge=lfs -text
images/weapons/sacrificialsword.png filter=lfs diff=lfs merge=lfs -text
images/weapons/skywardpride.png filter=lfs diff=lfs merge=lfs -text
genshin_font.ttf filter=lfs diff=lfs merge=lfs -text
